<h1>Listing adapter_configurations</h1>

<table class="table">
  <tr>
    <th>Adapter</th>
    <th>Name</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @adapter_configurations.each do |adapter_configuration| %>
  <tr>
    <td><%= adapter_configuration.adapter %></td>
    <td><%= adapter_configuration.name %></td>
    <td><%= adapter_configuration.value %></td>
    <td><%= link_to 'Show', adapter_configuration %>
    <%= link_to 'Edit', edit_adapter_configuration_path(adapter_configuration) %>
    <%= link_to 'Destroy', adapter_configuration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Adapter configuration', new_adapter_configuration_path %>
